body {
  /* min-height: 100vh; */
  background-image: url("layered-waves-haikei.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 16px;
  color: #1e011f;
  font-family: "Poppins", sans-serif;
  padding: 4px 0;

  /* font-family: "Sofia", cursive; */
}

h1 {
  color: #fff;
  text-shadow: #8c788f 1px 1px 60px;
  font-family: Sofia;
  font-size: 90px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0px 0px 12px 0px;
}

h2 {
  font-weight: 300;
  margin: 0;
}

p {
  margin-top: 12px;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 50px;
}

article {
  padding: 12px;
}

article:first-child {
  margin-top: 24px;
}

article:last-child {
  margin-bottom: 24px;
}

#my-form {
  display: flex;
}

#remember-list article {
  width: 90%;
  border-radius: 12px;
  border: 1px solid #f6bec1;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

#remember-list article:nth-child(odd) {
  background: linear-gradient(90deg, #e4d8e0 0%, #fefefe 100%);
}

#remember-list article:nth-child(even) {
  background: linear-gradient(90deg, #eed2e4 0%, #fefefe 100%);
}

input {
  padding: 0px 0px 0px 12px;
  font-size: 20px;
  color: #1e011f;
  height: 45px;
  border: none;
}

#title-input {
  background-color: #ca95bd;
  border-radius: 12px 0px 0px 12px;
  width: 200px;
}

#description-input {
  background-color: #ca95bd;
  width: 500px;
}

button {
  cursor: pointer;
}

.btn-remember {
  height: 45px;
  background-color: #ca95bd;
  color: #1e011f;
  font-size: 20px;
  /* font-weight: 100; */
  /* padding: 8px 4px; */
  border: none;
  border-radius: 0 12px 12px 0;
  /* box-shadow: 0px 3px 78px 0px rgba(0, 41, 158, 0.3);
  -webkit-box-shadow: 0px 3px 78px 0px rgba(0, 41, 158, 0.3);
  -moz-box-shadow: 0px 3px 78px 0px rgba(0, 41, 158, 0.3); */

  /* color: white;
  font-size: 1.25rem;
  font-weight: 100;
  text-shadow: #0e0d0c 1px 1px 1px;
  text-decoration: none;
  padding: 16px 20px;
  border: #bebebe solid 1px;
  border-radius: 12px;
  box-shadow: 0px 3px 78px 0px rgba(0, 41, 158, 0.3);
  -webkit-box-shadow: 0px 3px 78px 0px rgba(0, 41, 158, 0.3);
  -moz-box-shadow: 0px 3px 78px 0px rgba(0, 41, 158, 0.3); */
}

.btn-icon {
  background: none;
  border: none;
  width: 30px;
  height: 30px;
}

.btn-remember:hover {
  color: #1e011f;
  background-color: #fef9fd;
  transition: 1.5s;
}

.btn-remember {
  color: #fef9fd;
  padding: 0px 12px 0px 12px;
}

#remember-list {
  display: flex;
  min-width: 0px;
  width: 525px;
  padding: 0px 0px;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  border-radius: 24px;
  background: linear-gradient(207deg, #fef9fd 0%, #cdc4ef 100%);
  box-shadow: 0px 25px 40px 5px rgba(0, 0, 0, 0.1);
}

.wrapper {
  display: block;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f6bec1;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  color: #267e40;
}

.material-symbols-outlined:hover {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
  transition: 1s;
  color: #3abd61;
}
